body {
    font-family: 'Roboto', sans-serif;
}

div.stats-wrapper {
    position: relative;
}

div.stats {
    position:absolute;
    text-shadow: 0px 0px 10px black;
    top: 260px;
    color: white;
}

div.stats .coverage-score {
    font-size: 100px;
}

div.stats .coverage-gain, div.stats .coverage-text {
    font-size: 20px;
}

div.stats .coverage-gain.positive {
    color: #8f8;
}

.table-nonfluid {
   width: auto;
}

.table-headings-left th {
    text-align: right;
}