{% extends "base.html" %}

{% load l10n %}
{% load i18n %}

{% block jumbotron %}
    {% include 'map_jumbotron.html' with coverage_boundary=coverage_boundary %}
{% endblock %}

{% block content %}
    <h1>
        {% blocktrans with admin_level_string=coverage_boundary.admin_level_string name=coverage_boundary %}{{ admin_level_string }} of {{ name }}{% endblocktrans %}
        {% if coverage_boundary.parent %}
            (<a href="{% url "coverage_score_viewer.views.details" coverage_boundary.parent.id %}">{{ coverage_boundary.parent }}</a>)
        {% endif %}
    </h1>

    <p>
        {% blocktrans with coverage=coverage_boundary.coverage|floatformat:0 %}
            ~{{ coverage }} % of all buildings on <a href="http://www.basemap.at">basemap.at</a> in
            {{ coverage_boundary }} are covered by a building on
            <a href="http://www.openstreetmap.org">OpenStreetMap</a> in the same area. The table below shows some
            details.
        {% endblocktrans %}
    </p>

    <div class="row">
        <div class="col-md-4">
            <table class="table table-bordered table-nonfluid table-headings-left">
                <tbody>
                    <tr>
                        <th>{% trans 'Total Coverage' %}</th>
                        <td>{% include "coverage_formatted.html" with coverage=coverage_boundary.coverage %}</td>
                    </tr>
                    <tr>
                        <th>{% trans 'Original Coverage' %}</th>
                        <td>{% include "coverage_formatted.html" with coverage=coverage_boundary.original_coverage %}</td>
                    </tr>
                    <tr>
                        <th>{% trans 'Difference since the Start' %}</th>
                        <td>~{{ coverage_boundary.total_coverage_gain|floatformat:0 }} %</td>
                    </tr>
                    <tr>
                        <th>{% trans 'Latest Changes' %}</th>
                        <td>{{ coverage_boundary.latest_timestamp|date:"SHORT_DATE_FORMAT"|localize }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-8">
            <img src="/coverage-chart.svg?id={{ coverage_boundary.id }}"/>
        </div>
    </div>


    {% if children %}
        <h2>{{ coverage_boundary.children_admin_level_string }}</h2>

        <table class="table table-bordered table-striped table-nonfluid">
            <tr>
                <th>{% trans 'Overall Rank' %}</th>
                <th>{% trans 'Name' %}</th>
                <th>{% trans 'Coverage' %}</th>
                <th>{% trans 'Difference' %}</th>
            </tr>
            {% for child in children %}
                <tr>
                    <td>{{ child.rank }}.</td>
                    <td><a href="{% url "coverage_score_viewer.views.details" child.id %}">{{ child }}</a></td>
                    <td>{% include "coverage_formatted.html" with coverage=child.coverage %}</td>
                    <td>~{{ child.total_coverage_gain|floatformat:0 }} %</td>
                </tr>
            {% endfor %}
        </table>
    {% endif %}
{% endblock %}