{% extends "base.html" %}

{% load humanize %}
{% load l10n %}
{% load i18n %}

{% block content %}
    <h1>{{ admin_level_heading }}</h1>

    <p>
        <table class="table table-bordered table-striped">
            <tr>
                <th>{% trans 'Rank' %}</th>
                <th>{% trans 'Name' %}</th>
                <th>{% trans 'Latest Changes' %}</th>
                <th>{% trans 'Is In' %}</th>
                <th>{% trans 'Coverage' %}</th>
                <th>{% trans 'Difference since the Start' %}</th>
            </tr>
            {% for boundary in boundaries %}
                <tr>
                    <td>{{ boundary.rank }}.</td>
                    <td>
                        <a href="{% url "coverage_score_viewer.views.details" boundary.id %}">{{ boundary }}</a>
                    </td>
                    <td>{{ boundary.latest_timestamp|date:"SHORT_DATE_FORMAT"|localize }}</td>
                    <td>
                        {% if boundary.parent %}
                            <a href="{% url "coverage_score_viewer.views.details" boundary.parent.id %}">{{ boundary.parent }}</a>
                        {% endif %}
                    </td>
                    <td>{% include "coverage_formatted.html" with coverage=boundary.coverage %}</td>
                    <td>~{{ boundary.total_coverage_gain|floatformat:0 }} %</td>
                </tr>
            {% endfor %}
        </table>
    </p>
{% endblock %}
