{% with "coverage_score_viewer.views."|add:name as route_show_all %}

{% if coverage_boundaries %}
    <p>
        <table class="table table-bordered table-striped">
            <tr>
                <th>Rank</th>
                <th>Name</th>
                <th>Coverage</th>
            </tr>
            {% for coverage_boundary in coverage_boundaries %}
                <tr>
                    <td>{{ coverage_boundary.rank }}.</td>
                    <td><a href="{% url "coverage_score_viewer.views.details" coverage_boundary.id %}">{{ coverage_boundary }}</a></td>
                    <td>{% include "coverage_formatted.html" with coverage=coverage_boundary.coverage %}</td>
                </tr>
            {% endfor %}

            {% if parent_boundary %}
                <tr>
                    <td></td>
                    <td><strong>{{ parent_boundary }} (Total)</strong></td>
                    <td><strong>{% include "coverage_formatted.html" with coverage=parent_boundary.coverage %}</strong></td>
                </tr>
            {% endif %}
        </table>
    </p>
    <p>
        <a class="btn btn-default" href="{% url route_show_all %}">
            See all {{ name }} <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
    </p>
{% else %}
    <p>No {{ name }} found.</p>
{% endif %}

{% endwith %}